/* common */
body{
    font-weight: 500;
}
.wrap_per{
    height: 100vh;
    width: 100%;
}
/* utility */
.clearfix::after{
    content: "";
    display: table;
    clear: both;
}
.float_l{
    float: left;
}
.bg_dblue{
    background-color: rgba(8, 11, 18, 0.774);
}
/* HEADER STYLE */
/* navbar style */

.sp_btn{
    border: 1px solid white;
    border-radius: 10rem;
    padding: 5px 10px;
}

/* MAIN STYLE */
#sp_main{
    height: calc( 100vh - 52px);
    overflow: hidden;
}
#sp_main::after{
    content: "";
    display:table;        clear: both;
}
/* sidebar style */
#sidebar_menu{
    z-index: 2000;
    width: 200px;
    height: 100%;
    color: white;
    background-color: black;
}
.zidebar{
    overflow: hidden;
}
#sidebar_menu a{
    color: white;
}
/* logo style */
.navbar-brand{
    margin-bottom: 10px;
}
#logo_lg{
    height: 30px;
}
/* main menu sidebar */
#sidebar_menu ul li img{
    height: 25px;    
}
/* playlist menu */
.playlist_menu{
    height: 50%;
    flex-wrap: nowrap;
    overflow-y: auto;
}
a.new_pl{
    opacity: 0.5;
    font-size: 14px;
}
/* install and profile */
a.dwnl, #dl_icon{
    opacity: 0.5;
    font-size: 10px;
}
#sidebar_menu #dl_icon{
    height: 20px;
}
#profile_icon{
    background-color: grey;
    border-radius: 50%;
    height: 30px;
    width: 30px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
}
/* /sidebar style */

/* MUSIC section */
#music{
    height: 100%;
    width: calc(100% - 200px);
    background-color: rgba(20, 25, 34, 1);
    color: white;
    overflow-y: auto;
    overflow-x: hidden;
}
/* album navbar */
#music>nav>ul>li>a{
    text-transform: uppercase;
    color: white;
    opacity: 0.5;
}

/* ALBUM section */
.album_card{
    text-align: center;
    width: 16.666%;
}
.album_card>img{
    width: 100%;
    padding: 1rem;
}
/* /ALBUM section */

/* FOOTER */
.btm_bar{
    position: fixed;
    bottom: 0;
    right: 0;
    left: 0;
    height: 52px;
    background-color: red;
    z-index: 3000;
}